
Bots/.vs/Bot1/v15/.suo
*.db
*.ipch
Bots/Bot1/.vs/Bot1/v15/.suo
*.sln
*.vcxproj
*.filters
*.user
*.obj
*.exe
*.iobj
*.ipdb
*.log
*.pdb
*.lastbuildstate
*.tlog
Bots/Bot2/.vs/Bot2/v15/.suo
Bots/Bot3/.vs/Bot3/v15/.suo
*.pch
*.idb
Bots/Bot4/.vs/Bot4/v15/.suo
Bots/Bot5/.vs/Bot5/v15/.suo
Bots/Bot6/.vs/Bot6/v15/.suo
*.ilk
Bots/Bot7/.vs/Bot7/v15/.suo
Bots/StarterKit/.vs/StarterKit/v15/.suo
Interface/.vs/Interface/v15/.suo
*.pyc
*.pyproj
Bots/Advanced/MCTSGon/.vs/MCTSGon/v15/.suo
*.opendb
TrainingArena/Simulator/.vs/Simulator/v15/.suo
